header {
  background-image: url("https://www.hays.co.uk/documents/14947236/18198294/Image_Tech_Job_Software_Developer_LandingPage.jpg/951806d1-6723-e38a-ca0c-ce66442559e8?t=1617985158102");
  background-size: 100% 100%;

  background-repeat: no-repeat;
  font-style: italic;
  color: white;
  font-size: 80px;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: rgb(9, 3, 81);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(9, 3, 81);
}
.home {
  width: 50%;
  font-size: 40px;
  background: white;
  margin: auto;
  margin-top: 1%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  flex: content;
  padding: 7px;
}
.anime {
  width: 50%;
  font-size: 40px;
  background: white;
  margin: auto;
  margin-top: 1%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  flex: content;
  padding: 7px;
}
.cars {
  width: 50%;
  font-size: 40px;
  background: white;
  margin: auto;
  margin-top: 1%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  flex: content;
  padding: 7px;
}
.games {
  width: 50%;
  font-size: 40px;
  background: white;
  margin: auto;
  margin-top: 1%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  flex: content;
  padding: 7px;
}
.guitars {
  width: 50%;
  font-size: 40px;
  background: white;
  margin: auto;
  margin-top: 1%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  flex: content;
  padding: 7px;
}

.show {
  display: block;
}
.columns {
  display: flex;
}

.column {
  background: white;
  border: 3px solid black;
  display: flex;
  flex: content;
  flex-direction: column;
  padding: 7px;
}

.main-column {
  flex: 2;
}

.article {
  background: white;
  border: 3px solid black;
  color: black;
  flex: content;
  margin: 10px;
  padding: 10px;
}
